<div class="container h">


    <form class="text-center border border-light p-5" (ngSubmit)="this.changePassword()">

        <mdb-icon fas icon="lock" class="prefix"></mdb-icon>
        <p class="h4 mb-4">Type new password: </p>
        <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" name="n1"
            placeholder="new password" [(ngModel)]="this.p1">
        <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" name="n2"
            placeholder="repeat new password" [(ngModel)]="this.p2">
        <button mdbBtn color="blue" block="true" class="my-4" type="submit">Change</button>
        <p class="r">{{errMessage}} {{m1}} {{m2}}</p>
        <p class="g"> {{succMessage}}</p>
    </form>

</div>