<app-nav-bar></app-nav-bar>


<!-- <app-home></app-home> -->
<!-- <app-images></app-images> -->

<router-outlet></router-outlet>

<!-- <footer class="page-footer font-small indigo">

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a routerLink="">GYM</a>
  </div>

</footer> -->

<!-- Footer -->
<footer class="page-footer font-small unique-color-dark pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Contact </h5>
        <p>Phone:011/318-93-95</p>
        <p>Mail:fitness@gmail.com</p>
        <p>Address:Bulevar Oslobodjenja 15</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Working hours</h5>

        <p>Monday - Friday:</p>
        <p>09-23h</p>

        <p>Saturday-Sunday:</p>
        <p>09-20h</p>

      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a routerLink="">GYM</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->