<div class="h">
    <h1>ID:{{this.id}} </h1>

    <h1> Name:{{this.name}} </h1>
    <br><br>


    <h2>My member cards:</h2><br>

    <table mdbTable hover="true">
        <thead>
            <tr>
                <th *ngFor="let head of headElements" scope="col">{{head}} </th>
            </tr>
        </thead>
        <tbody>
            <tr mdbTableCol *ngFor="let el of cards">
                <th scope="row">{{el.id}}</th>
                <td>{{el.duration}} month(s) </td>
                <td>{{el.number}}</td>
                <td>{{el.lastTraining}}</td>
                <td>{{el.start}}</td>
                <td>{{el.end}} </td>
                <td> {{el.status}} </td>
            </tr>
        </tbody>
    </table>
    <br><br><br>
    <h2>My group trainings:</h2> <br><br>
    <h2>Today:</h2>
    <app-view-group-trainings-remove [elements]="todaysTrainings" (someEvent)="ngOnInit()">
    </app-view-group-trainings-remove>

    <br><br><br><br>
    <h2>Next days:</h2>
    <app-view-group-trainings-remove [elements]="futureTrainings" (someEvent)="ngOnInit()">
    </app-view-group-trainings-remove>

    <br><br><br><br>
    <h2>Past days:</h2>
    <app-view-group-trainings-remove [elements]="pastTrainings" (someEvent)="ngOnInit()">
    </app-view-group-trainings-remove>

</div>