<div class="container h">
    <!-- Default form login -->
    <form class="text-center border border-light p-5" (ngSubmit)="this.httpLogIn()">

        <p class="h4 mb-4" id="col">Log in</p>

        <input type="username" class="form-control mb-4" name="username" placeholder="username"
            [(ngModel)]="this.username">

        <input type="password" class="form-control mb-4" name="password" placeholder="password"
            [(ngModel)]="this.password">

        <!-- Sign in button -->
        <button mdbBtn color="blue"  block="true" type="submit">log in</button><br>
        <div style="color: red; text-align: center;">
            {{m1}}{{m2}}{{message}}
        </div>


    </form>
    <!-- Default form login -->


</div>  